operationMode="REMOTE"
clientTransportIgnoreClusterName="false"
indexNamePrefix="wedeploy"
httpCORSConfigurations=""
additionalConfigurations=""
httpCORSAllowOrigin="/https?://localhost(:[0-9]+)?/"
networkBindHost=""
syncSearch="true"
transportTcpPort=""
bootstrapMlockAll="false"
networkPublishHost=""
overrideTypeMappings=""
clientTransportSniff="true"
additionalIndexConfigurations=""
retryOnConflict="5"
httpCORSEnabled="true"
clientTransportNodesSamplerInterval="5s"
additionalTypeMappings=""
logExceptionsOnly="true"
httpEnabled="true"
networkHost=""
transportAddresses="es:9300"
clusterName="elasticsearch"
discoveryZenPingUnicastHostsPort="9300-9400"